.cardMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 20vw;
    height: 60vh;

    background-color: #F3D7CA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}