body, html {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

.screen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #FCFCFD, #E8ECEF);
    color: black; /* Set text color to make it visible on the gradient background */
}
